@import "variables";
@import "mixins";

/*Colores: rgba(13, 13, 13, 1); negro fondo
rgba(252, 252, 252, 1); blanco fondo
rgba(227, 6, 19, 0.85); rojo botones
rgba(237, 238, 239, 1); gris fondo
rgba( 227, 6, 19,1) rojo puro
rgba(126,126,126,1) gris botones
*/

* {
    margin: 0;
    padding: 0;
  }
  
  .center {
    @include flex-center;
  }
  
  .spaceAround {
    @include flex-spaceAround;
  }
  
  .end {
    @include flex-end;
  }
  
  body {
    font-family: $font-family !important;
    width: map-get($width-style, w-100);
  }
  
  footer {
    background-color: $bg-color-primario;
    color: map-get($font-style, fontColorFooter);
  }

  nav{
    @extend footer;
    font-size: map-get($font-style, fontSizeNav);
    font-weight: map-get($font-style, fontWeightNav);
    }
    
  .navbar-nav {
    @include flex-spaceAround;
    width: map-get($width-style, w-100);
  }

  a.active, a:active { 
    background-color: $bg-color-primario !important; 
  }

  .btn {
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 20px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
  }

  /*Secciones con distinto Color*/
  
  #servicios,
  #multimarca,
  #empresaHistoria2,
  .mainClientesFernanda, .containerCarousel,.ubicacionContacto {
    background-color: $bg-color-secundario;
  }
  
  /*INDEX.HTML*/
  
  .serviciosImagen,
  .multimarcaImg {
    width: map-get($width-style, widthIndexImg);
    margin-bottom: 1rem;
  }

  .serviciosImagen{
    opacity: 65%;
  }

  /*NOSOTROS.HTML*/

.equipoTarjeta{
  position: relative;
  text-align: center;
}

.equipoTarjetaImg {
  max-width: 450px; 
  border-radius: 20px;
}

.card-title{
  opacity: 60%;
  font-size: 25px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 35px;
  max-width: 450px; 
  color: #0d0d0d;
  background-color: white;
  letter-spacing: 3px;
}

  /*GALERIA.HTML*/

  .carousel-inner img{
     margin:auto; 
     width: map-get($width-style, widthCarouselDesktop);
    }
  
    /*CONSEJOS.HTML*/
   
    .accordion-button{
      &:not(.collapsed) {
        color: map-get($font-style, fontColorFooter);
        background-color: $bg-color-primario;
      }
    
      &:not(.collapsed)::after{
        filter: brightness(0%) invert(70%);
      }
    
      &:focus{
        box-shadow: $box-shadows;
        border-color: map-get($accordion-style , bordeColorFocus);
      }
    }
  
    /*CONTACTO.HTML*/

    .colForm{
      height: map-get($height-style, heightForm);
    }

  @media screen and (max-width: 1023px) {
    
    #noDesplegable {
      display: none;
    }

    /*EMPRESA.HTML*/

    .colEmpresa{
      max-width: map-get($width-style, widthColEmpresa);
    }

    /*GALERIA.HTML*/
  
    .galeriaImg {
      @include galeria-img;
      max-height: map-get($height-style, heightGalTablet);
    }
  
    .carousel-inner img{
      margin:auto; 
      width: map-get($width-style, widthCarouselTablet);
     }
  
     /*CONSEJOS.HTML*/
  
     .accordion{
      &-item{
        font-size: map-get($accordion-style, sizeFuenteTablet);
      }
      &-button{
        font-size: map-get($accordion-style, sizeBotonTablet);
        border: map-get($accordion-style , borde );
      }
      
    }
  }
  
  @media screen and (min-width: 1024px) {
    #desplegable {
      display: none;
    }
  
    /*GALERIA.HTML*/
  
    .galeriaImg {
      @include galeria-img;
      min-height: map-get($height-style, heightGalTablet);
      max-height: map-get($height-style, maxHeightGalDesktop);       
    }
  
    /*CONSEJOS.HTML*/
    
    .accordion{
      &-item{
        font-size: map-get($accordion-style, sizeFuenteDesktop);
      }
      &-button{
        font-size: map-get($accordion-style, sizeBotonDesktop);
        border: map-get($accordion-style , borde );
      }
    }
   
  
  }
  